{% extends 'capstone/layout.html' %}

{% block body %}
<div class="container-card dash-card mt20 mb50">
    <div style="padding: 20px;">
        <form action="{% url 'create_ticket' %}" method="post" class="needs-validation" id="ticket-form" novalidate>
        {% csrf_token %}
            <div class="col-md-12 dflex gap15 mb10 mt10">
                <div class="comment-form">
                    <textarea oninput='this.style.height="";this.style.height = this.scrollHeight + "px"'
                        id="ticket_title" class="form-caps" name="ticket_title" placeholder="Put your ticket title"
                        rows="1" required>{{ ticketDetail.ticket_title }}</textarea>
                    <div class="invalid-feedback">
                        Ticket title cannot be empty
                    </div>
                </div>
            </div>
            <div class="col-md-12 dflex gap15 mb20">
                <div class="comment-form">
                    <textarea oninput='this.style.height="";this.style.height = this.scrollHeight + "px"'
                        id="ticket_desc" class="form-caps" name="ticket_description" placeholder="Put your ticket description" rows="1"
                        style="font-size: 1rem;" required>{{ ticketDetail.description }}</textarea>
                    <div class="invalid-feedback">
                        Ticket description cannot be empty
                    </div>
                </div>
            </div>

            <div class="col-md-3 dflex gap20">
                <div class="dflex gap15 mb20">
                    <div class="css-vz2i8e">
                        <div class="css-63xtou">
                            <label class="css-1bw07gz" style="color: #b0b0b0;">Category</label>
                        </div>
                        <div class="form-control-wrapper">
                            
                            <select name="category" style="background: transparent;
                            outline: none; width: 100%;
                            border: none; z-index: 1;
                            padding: 12px 15px; cursor: pointer; font-size: .88rem;" class="form-caps" required>
                            
                                <option selected>Select Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {% if ticketDetail.category_id == category.id %} selected {% endif %}> {{ category.name }}</option>
                                {% endfor %}
                            </select>
                            <svg class="arrow" style="position: absolute; right: 0;" id="drp-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="transition-all ml-auto rotate-180">
                                <path d="M7 14.5l5-5 5 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <div class="invalid-feedback">
                            Category cannot be empty
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-md-3 dflex gap20">
                <div class="dflex gap15 mb20">
                    <div class="css-vz2i8e">
                        <div class="css-63xtou">
                            <label class="css-1bw07gz" style="color: #b0b0b0;">Priority</label>
                        </div>
                        <div class="form-control-wrapper">
                            <select class="form-caps form-select" name="priority" style="background: transparent;
                            outline: none; width: 100%;
                            border: none; z-index: 1;
                            padding: 12px 15px; cursor: pointer; font-size: .88rem;" required>
                                <option selected>Select Priority</option>
                                {% for pr in priority %}
                                    <option value="{{ pr.0 }}" {% if ticketDetail.priority == pr.0 %} selected {% endif %}> {{ pr.1 }}</option>
                                {% endfor %}
                            </select>
                            <svg class="arrow" style="position: absolute; right: 0;" id="drp-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="transition-all ml-auto rotate-180">
                                <path d="M7 14.5l5-5 5 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <div class="invalid-feedback">
                            Priority cannot be empty
                        </div>
                    </div>
                </div>
            </div>
            

            {% if request.user.is_manager %}
            <div class="dflex gap20 alg-bal">
                <div class="col-md-3 dflex gap20">
                    <div class="dflex gap15 mb20" style="width: 100%;">
                        <div class="css-vz2i8e">
                            <div class="css-63xtou dflex alg-bal jst-spc-btw">
                                <label class="css-1bw07gz" style="color: #b0b0b0;">Requester</label>
                            </div>
                            <div class="form-control-wrapper">
                                <input type="text" class="form-caps form-select" value="{{ ticketDetail.requester.username|title }}" style="background: transparent;
                                outline: none; width: 100%;
                                border: none; z-index: 1;
                                padding: 12px 15px; font-size: .88rem;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 dflex gap20">
                    <div class="dflex gap15 mb20">
                        <div class="css-vz2i8e">
                            <div class="css-63xtou dflex alg-bal jst-spc-btw">
                                <label class="css-1bw07gz" style="color: #b0b0b0;">Watcher</label>
                            </div>
                            <div class="form-control-wrapper">
                                <select id="watcher123" class="form-caps form-select js-example-basic-multiple" multiple="multiple" name="watchers[]" style="background: transparent;
                                outline: none; width: 100%;
                                border: none; z-index: 1;
                                padding: 12px 15px; cursor: pointer; font-size: .88rem;" data-placeholder="Select Watcher">
                                    <option></option>
                                    {% for watcher in watchers %}
                                    <option value="{{ watcher.id }}"> {{ watcher.username|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 dflex gap20">
                    <div class="dflex gap15 mb20" style="width: 100%;">
                        <div class="css-vz2i8e">
                            <div class="css-63xtou dflex alg-bal jst-spc-btw">
                                <label class="css-1bw07gz" style="color: #b0b0b0;">Assigned to</label>
                                <div class="add-user-container" id="add_assignee">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    <span>Add more</span>
                                </div>
                            </div>
                            <div id="assigned_to" class="dflex flex-col"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-md-3 dflex gap15 mb20">
                <div class="css-vz2i8e">
                    <div class="css-63xtou">
                        <label class="css-1bw07gz" style="color: #b0b0b0;">Due Date</label>
                    </div>
                    <div class="form-control-wrapper">
                        <div>
                            <input type="text" class="form-control date-text" name="due_date" id="due-date" placeholder="yyyy-mm-dd" value="{{ ticketDetail.due_date|date:'Y-m-d' }}">
                        </div>
                        <div style="padding: 0 12px;">
                            <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap20" style="display: flex; justify-content: center;">
                <button class="btn btn-cap-primary" id="btn-save-ticket">Save</button>
                <button class="btn btn-cap-outline-danger" href="javascript:void(0);" onclick="history.go(-1);">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
        const validateDate = document.getElementById('date-validation-error')
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')

                    const datepickerInput = document.getElementById('due-date');
                    const selectedDate = datepickerInput._flatpickr.selectedDates[0];

                    if (!selectedDate) {
                        event.preventDefault(); // Prevent form submission
                        
                        if (validateDate) {
                            validateDate.style.display = 'block'
                        }
                    }
                }, false)
            })

        flatpickr("#due-date", {
            minDate: "today",
        })
    })

</script>

<script>
    var array_selection = [{{watcherIds}}];
    $("#watcher123").select2().val(array_selection);
</script>
{% endblock %}