{% extends 'capstone/layout.html' %}
{% load custom_filter %}
{% block body %}

{% if not request.GET.search_keyword %}
<div class="ticket-header-row">
    <a href="{% url 'ticket_list' 'all' %}" class="task-card">
        <div class="card widget-content bg-plum-plate  b-rad10">
            <div class="widget-content-wrapper text-white" style="gap: 20px;">
                <div class="widget-content-left">
                    <div class="widget-heading">All Tickets</div>
                    <div class="widget-subheading">{{ allTicket }}</div>
                </div>
                <div class="icon-overlay-card">
                    <i class="fa-solid fa-ticket" style="font-size: 18px;"></i>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'ticket_list' 'outstanding' %}" class="task-card">
        <div class="card widget-content bg-malibu-beach b-rad10">
            <div class="widget-content-wrapper text-white" style="gap: 20px;">
                <div class="widget-content-left">
                    <div class="widget-heading">Outstanding</div>
                    <div class="widget-subheading">{{ outstanding }}</div>
                </div>
                <div class="icon-overlay-card">
                    <i class="fa-solid fa-hourglass-start" style="font-size: 18px;"></i>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'ticket_list' 'resolved' %}" class="task-card">
        <div class="card widget-content bg-grow-early b-rad10">
            <div class="widget-content-wrapper text-white" style="gap: 20px;">
                <div class="widget-content-left">
                    <div class="widget-heading">Resolved</div>
                    <div class="widget-subheading">{{ resolved }}</div>
                </div>
                <div class="icon-overlay-card">
                    <i class="fa-regular fa-circle-check"></i>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'ticket_list' 'due_today' %}" class="task-card">
        <div class="card widget-content bg-sunny-morning b-rad10">
            <div class="widget-content-wrapper text-white" style="gap: 20px;">
                <div class="widget-content-left">
                    <div class="widget-heading">Due Today</div>
                    <div class="widget-subheading">{{ dueToday }}</div>
                </div>
                <div class="icon-overlay-card">
                    <i class="fa-regular fa-calendar-check"></i>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'ticket_list' 'overdue' %}" class="task-card">
        <div class="card widget-content bg-strong-bliss b-rad10">
            <div class="widget-content-wrapper text-white" style="gap: 20px;">
                <div class="widget-content-left">
                    <div class="widget-heading">Overdue</div>
                    <div class="widget-subheading">{{ overdue }}</div>
                </div>
                <div class="icon-overlay-card">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
            </div>
        </div>
    </a>
</div>

{% endif %}

<div class="container-card dash-card mt20 mb50">
    
    <div style="padding: 20px;">
        <div class="app-card__header_title" style="margin-bottom: 2.25rem;">
            Tickets
        </div>
        <div class="app-card__body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-th-header" scope="col" style="width:35%;">Task</th>
                        <th class="table-th-header" scope="col">Priority</th>
                        <th class="table-th-header" scope="col">Watcher</th>
                        <th class="table-th-header" scope="col">Due Date</th>
                        <th class="table-th-header" scope="col">Status</th>
                        <th class="table-th-header" scope="col">Assignees</th>
                        <th class="table-th-header" scope="col">Requester</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td>
                            <a class="ticket-title" href="{% url 'ticket_detail' ticket.id ticket.ticket_title_slug %}" data-toggle="tooltip" title="{{ticket.description}}">{{ ticket.ticket_title }}</a>
                        </td>
                        <td>
                            <i class="cc-priority {{ticket.priority|getPriority}}"></i>
                            <span>{{ ticket.priority|removeHypens }}</span>
                        </td>
                        <td>
                            <div class="user-img-container">
                                {% if ticket.watcher.all %}
                                    {% for user in ticket.watcher.all %}
                                    <div class="user-tooltip" data-toggle="tooltip" title="{{user.username}}">
                                        {% if user.img_profile %}
                                        <img class="rounded-circle user-img-sml" src="/static/{{user.img_profile}}" alt="">
                                        {% else %}
                                        <img class="rounded-circle user-img-sml" src="/static/images/user-icon.png" alt="">
                                        {% endif %}
                                    </div>
                                    {% endfor %}

                                {% else %}
                                <div class="empty-list">-</div>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            {% if ticket.due_date %}
                                {{ ticket.due_date|date:"Y-m-d" }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td >
                            <span class="badge rounded-pill {{ ticket.status|getCSSStatus }}">{{ ticket.status|getStatus }}</span>
                        </td>
                        <td>
                            <div class="user-img-container">
                                {% if ticket.assigned_to.all %}
                                    {% for user in ticket.assigned_to.all %}
                                    <div class="user-tooltip" data-toggle="tooltip" title="{{user.username}}">
                                        {% if user.img_profile %}
                                        <img class="rounded-circle user-img-sml" src="/static/{{user.img_profile}}" alt="">
                                        {% else %}
                                        <img class="rounded-circle user-img-sml" src="/static/images/user-icon.png" alt="">
                                        {% endif %}
                                    </div>
                                    {% endfor %}

                                {% else %}
                                <div class="empty-list">-</div>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            {{ ticket.requester.username }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.vivid-progress').css("width",
            function() {
                return $(this).attr("aria-valuenow") + "%";
            }
        )
    });
</script>
{% endblock %}