{% extends 'capstone/layout.html' %}
{% load custom_filter %}
{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <svg viewBox="0 0 640 512" fill="currentColor" class="menu-icon">
                    <path d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192h42.7c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0H21.3C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7h42.7C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3H405.3zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352H378.7C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7H154.7c-14.7 0-26.7-11.9-26.7-26.7z"/>
                </svg>
            </div>
            <div class="page-title-header">MBTI Result
                <div class="page-title-subheading">This is an example dashboard created using
                    build-in elements and components.
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="mb50" style="display: flex; gap: 20px;">
    <!-- <div class="mbti_card">
        <div class="card_header">
            <div class="image_wrap">
                <div class="card_cover"></div>
                <img src="/static/images/image1.jpeg" alt="">
            </div>
            <h2>John Doe</h2>
        </div>
        <div class="card_main">
            <div style="color: #2b2c48; text-align: center;">Your MBTI Result</div>
                    
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <svg class="radial-progress" data-percentage="{{ personalities.first.value }}" viewBox="0 0 80 80">
                        <defs>
                            <linearGradient id="linear" x1="10%" y1="90%" x2="0%" y2="10%">
                                <stop offset="0%" stop-color="#3fffa2"/>
                                <stop offset="50%" stop-color="#ffdb3a"/>      
                                <stop offset="100%" stop-color="#ff6363"/>
                            </linearGradient>
                        </defs>
                        <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                        <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 147.3406954533613;"></circle>
                        <text class="percentage count" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)" style="fill: #636b6f;">{{ personalities.first.value }}%</text>
                    </svg>
                    <h3 style="color: #636b6f;">{{ personalities.first.mbti_type }}</h3>
                </div>
    
    
                <div style="display: flex; justify-content: space-around;">
                    {% for res in personalities %}
                        {% if not forloop.first %}
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                            <svg class="radial-progress low" data-percentage="{{ res.value }}" viewBox="0 0 80 80">
                                <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                                <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 147.3406954533613;"></circle>
                                <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)" style="fill: #636b6f;">{{ res.value }}%</text>
                            </svg>
                            <h3 style="color: #636b6f;">{{ res.mbti_type }}</h3>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
        </div>
        <div style="color: #2b2c48; text-align: right; padding: 0 10px 10px;">as of 03/03/2023</div>
        
    </div> -->
    <div class="container-card dash-card mbti-card-res">
        <div style="padding: 20px;">
            <div class="app-card__body card-outline ">
                <div class="card_header mb10">
                    <div class="image_wrap mb10">
                        <div class="card_cover"></div>
                        <img src="/static/{{request.user.img_profile}}" alt="">
                    </div>
                    <div style="position: relative; font-size: 1.5rem; letter-spacing: 1px; color: #fff; font-weight: 600;">
                        {{ request.user.first_name }} {{ request.user.last_name }}
                    </div>
                </div>
                <div style="width: 100%; display: flex; flex-direction: column ;gap: 15px; align-items: center;">
                    <div style="color: #fff; text-align: center; position: relative;">Your MBTI Result</div>
                    <div>
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                            <svg class="radial-progress" data-percentage="{{ personalities.first.value }}" viewBox="0 0 80 80">
                                <defs>
                                    <linearGradient id="linear" x1="10%" y1="90%" x2="0%" y2="10%">
                                        <stop offset="0%" stop-color="#3fffa2" />
                                        <stop offset="50%" stop-color="#ffdb3a" />
                                        <stop offset="100%" stop-color="#ff6363" />
                                    </linearGradient>
                                </defs>
                                <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                                <circle class="complete" cx="40" cy="40" r="35"
                                    style="stroke-dashoffset: 147.3406954533613;"></circle>
                                <text class="percentage count" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">{{ personalities.first.value }}</text>
                            </svg>
                            <h3 class="card-text-body">{{ personalities.first.mbti_type }}</h3>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: space-around; width: 100%;">
                        {% for res in personalities %}
                            {% if not forloop.first %}
                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <svg class="radial-progress low" data-percentage="{{ res.value }}" viewBox="0 0 80 80">
                                    <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                                    <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 147.3406954533613;"></circle>
                                    <text class="percentage count" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">{{ res.value }}%</text>
                                </svg>
                                <div class="card-text-body">{{ res.mbti_type }}</div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                
            </div>
            
        </div>
        <div style="color: #fff; text-align: right; padding: 0 10px 10px;">as of 03/03/2023</div>

    </div>
    <!-- <div>
        
        <h1>test</h1>
    </div> -->

    <div style="display: flex; flex-direction: column; gap: 20px;">
        <div class="container-card dash-card">
            <div style="padding: 20px;">
                <div class="app-card__header_title" style="margin-bottom: 1.5rem;">
                    Personality Description
                </div>
                <div class="app-card__body" style="color: #fff;">
                    <div class="mb10">Based on your MBTI results, we found that Software Designer is the best fit for you, and following are Software Tester and Software Maintainer!</div>
                    <div>
                        <ul>
                            {% for mbti in personalities %}
                            <li class="mb10">
                                <div style="font-size: 1.1rem; font-weight: 600; letter-spacing: 1px;">{{ mbti.mbti_type }}</div>
                                <div style="color: rgb(180 187 197); font-size: 15px; letter-spacing: .3px;">test</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-card dash-card">
            <div style="padding: 20px;">
                <div class="app-card__header_title" style="margin-bottom: 1.5rem;">
                    Role Preferences
                </div>
                <div class="app-card__body" style="color: #fff;">
                    <div >Based on your MBTI results, we found that Software Designer is the best fit for you, and following are Software Tester and Software Maintainer!</div>
                    <div>
                        <ul>
                            {% for role in roles %}
                                <li style="{% if role.is_best %} font-weight: 700; font-size: 16px; {% endif %}">{{ role.role_type|roleType }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}