{% extends 'capstone/layout.html' %}

{% block body %}
<div class="container-card dash-card mt20 mb50" style="width: 60%;">
    <div>
        <div class="dflex flex-col">
            <div class="container test124">
                <div style="padding: 20px;">
                    <div id="msform">
                        {% csrf_token %}
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active">Page 1</li>
                            <li>Page 2</li>
                        </ul>
                        <!-- fieldsets -->
                        <fieldset>
                            <div class="mb20">
                                <label for="longTxt1">Describe which kind of vacations you typically enjoy and why</label>
                                <textarea name="ess1" class="css-r6q3am" cols="20" rows="5"></textarea>
                            </div>
                            <div class="mb20">
                                <label for="longTxt2">Describe what type of hobbies you enjoy and why</label>
                                <textarea name="ess2" class="css-r6q3am" cols="20" rows="5"></textarea>
                            </div>
                            
                            
                            <input type="button" name="next" class="next action-button" value="Next"/>
                        </fieldset>
                        <fieldset>
                            <div style="text-align: center; ">
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="width: 250px;">
                                            For my free time, I ideally prefer to attend social activities and events where i can be surrounded by people, meet and talk to new people.
                                        </div>
                                        <div style="width: 200px; display: flex; gap: 15px; justify-content: center; align-items: center;">
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q1" value="1">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q1" value="2">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q1" value="3">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q1" value="4">
                                            </span>
                                        </div>
                                        <div style="width: 250px;">
                                            For my free time, I like to be alone and enjoy some quiet time by myself.
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="width: 250px;">
                                            I like hobbies that are technical and hands on.
                                        </div>
                                        <div style="width: 200px; display: flex; gap: 15px; justify-content: center; align-items: center;">
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q2" value="1">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q2" value="2">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q2" value="3">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q2" value="4">
                                            </span>
                                        </div>
                                        <div style="width: 250px;">
                                            I am interested in hobbies that allow me to use my intuition to explore abstract concepts and use my imagination to dream big.
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="width: 250px;">
                                            My favorite hobbies are those that allow me to learn new things.
                                        </div>
                                        <div style="width: 200px; display: flex; gap: 15px; justify-content: center; align-items: center;">
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q3" value="1">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q3" value="2">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q3" value="3">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q3" value="4">
                                            </span>
                                        </div>
                                        <div style="width: 250px;">
                                            I tend to prioritize personal values and harmony over cold logic.
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <div style="display: flex; align-items: center;">
                                        <div style="width: 250px;">
                                            It's more exciting for me to jump into something without a clear plan than to follow a set path.
                                        </div>
                                        <div style="width: 200px; display: flex; gap: 15px; justify-content: center; align-items: center;">
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q4" value="1">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q4" value="2">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q4" value="3">
                                            </span>
                                            <span style="margin-right: 10px;">
                                                <input class="form-check-input" type="radio" name="q4" value="4">
                                            </span>
                                        </div>
                                        <div style="width: 250px;">
                                            I like for my holidays to have everything being organized and booked in advance so that i can enjoy everything without worrying.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                            <input class="submit action-button btn-questionnaire" value="Submit"/>
                            
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="username" value="{{request.user.username}}">
<script>
    
//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	next_fs = $(this).parent().next();
	//activate next step on progressbar using the index of next_fs
	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
	
	//show the next fieldset
	next_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
        'transform': 'scale('+scale+')',
        'position': 'absolute'
      });
			next_fs.css({'left': left, 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".previous").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	previous_fs = $(this).parent().prev();
	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
	
	//show the previous fieldset
	previous_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity, 'position': 'relative'});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});
</script>
{% endblock %}