{% extends "capstone/layout.html" %}

{% block body %}

<!-- What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script> -->

    <h1>let's chat</h1>

    <form id="form">
        <input type="text" name="message"/>
    </form>

    <div id="messages"></div>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

        //     if(data.type === 'chat'){
        //         let messages = document.getElementById('messages')

        //         messages.insertAdjacentHTML('beforeend', `<div>
        //                                 <p>${data.message}</p>
        //                             </div>`)
        //     }
        }

        // let form = document.getElementById('form')
        // form.addEventListener('submit', (e)=> {
        //     e.preventDefault()
        //     let message = e.target.message.value 
        //     chatSocket.send(JSON.stringify({
        //         'message':message
        //     }))
        //     form.reset()
        // })

    </script>

{% endblock %}