:root {
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --text-color: rgb(255, 255, 255);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --body-font: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg: #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);

    --dark: #34495e;
    --light: #fff;
    --success: #0abf30;
    --error: #f24d4c;
    --warning: #e9bd0c;
    --info: #3498db;
}

/* backdrop-filter: saturate(180%) blur(20px);
background: var(#121212, rgba(251,251,253,0.8)); */

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

a {
    text-decoration: none !important;
    color: #fff !important;
    outline: none !important;
}

i {
    color: #f4f4f4;
}

body {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    background: #000;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    text-align: left;
    background-image: url(../images/body-background.png) !important;
    background-size: cover;
}

nav {
    display: block;
}

ul {
    list-style-type: none;
}

input[type=file], input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

.table-hover tbody tr:hover {
    background-color: #677279;
    cursor: pointer
}

.active-row {
    background-color: #6987a2;
}

.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #16aaff;
    border-color: #16aaff
}

.btn.disabled, .btn:disabled {
    opacity: .65;
    cursor: not-allowed;
}

.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0
}

.app-main {
    flex: 1;
    display: block;
    /* z-index: 1; */
    position: relative
}

.app-header {
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 10;
    transition: all .2s
}

.fixed-header .app-header {
    position: fixed;
    width: 100%;
    top: 0
}

.closed-sidebar.closed-sidebar-mobile .app-header {
    margin-left: 0 !important
}

.app-header .app-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 0 1.5rem;
    height: 60px
}

.app-header .app-header__content .app-header-left {
    display: flex;
    align-items: center
}

.app-header.header-shadow {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    background: var(--localnav-background-stuck, rgba(22, 22, 23, 0.8));
    backdrop-filter: saturate(180%) blur(15px);
    z-index: 10000;
}

.app-header .app-header__content .header-menu .nav-link {
    color: var(--text-color);
}

.app-page-title {
    padding: 30px 0;
    margin-bottom: 30px;
    position: relative;
}

.app-page-title .page-title-icon {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 30px 0 0;
    background: #384e87b3;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-radius: 12px;
    width: 60px;
    height: 60px;
    color: #fff;
}

.app-sidebar__heading {
    text-transform: uppercase;
    font-size: .8rem;
    margin: .75rem 0;
    font-weight: bold;
    color: #bccfff;
    white-space: nowrap;
    position: relative
}

.search-wrapper {
    position: relative;
    margin-right: .66667rem
}

.search-wrapper .input-holder {
    height: 42px;
    width: 42px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out
}

.search-wrapper .input-holder .search-icon {
    width: 42px;
    height: 42px;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 30px
}

.search-input {
    width: 100%;
    padding: 0 70px 0 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    transform: translate(0, 60px);
    transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
    transition-delay: 0.3s;
    font-size: .88rem
}

.search-wrapper .input-holder .search-icon span {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: rotate(45deg);
    transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65)
}

.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content: ''
}

.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 13px;
    border-radius: 2px;
    background: #3f6ad8
}

.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 4px;
    top: 0;
    border-radius: 16px;
    border: 2px solid #3f6ad8
}

.search-wrapper .btn-search-close {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    cursor: pointer;
    opacity: 0 !important;
    transform: rotate(-180deg);
    transition: all 0.2s cubic-bezier(0.285, -0.45, 0.935, 0.11);
    transition-delay: 0.1s
}

.search-wrapper .btn-search-close::before, .search-wrapper .btn-search-close::after {
    position: absolute;
    content: '';
    background: #3f6ad8;
    border-radius: 2px
}

.search-wrapper .btn-search-close::before {
    width: 2px;
    height: 20px;
    left: 9px;
    top: 0
}

.search-wrapper .btn-search-close::after {
    width: 20px;
    height: 2px;
    left: 0;
    top: 9px
}

.search-wrapper.active {
    width: 330px
}

.search-wrapper.active .input-holder {
    width: 290px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.05);
    transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
    border: 1px solid #8f94ff;
}

.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 11px);
    color: #fff;
}

.search-wrapper.active .input-holder .search-icon {
    width: 42px;
    height: 42px;
    margin: 0;
    border-radius: 30px
}

.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg)
}

.search-wrapper.active .btn-search-close {
    left: 300px;
    opacity: .6 !important;
    transform: rotate(45deg);
    transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
    transition-delay: 0.5s
}

.search-wrapper.active .btn-search-close:hover {
    opacity: 1 !important
}

.search-wrapper.active+.header-menu {
    opacity: 0
}

.btn-search-close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}

.btn-search-close:hover {
    color: #000;
    text-decoration: none
}

.btn-search-close:not(:disabled):not(.disabled):hover, .btn-search-close:not(:disabled):not(.disabled):focus {
    opacity: .75
}

button.btn-search-close {
    padding: 0;
    background-color: transparent;
    border: 0;
    appearance: none
}

a.btn-search-close.disabled {
    pointer-events: none
}

.btn-search-close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.card-outline {
    display: grid;
    place-items: center;
}

.vertical-nav-menu li a {
    display: block;
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 1.5rem 0 45px;
    position: relative;
    border-radius: .25rem;
    color: var(--text-color);
    white-space: nowrap;
    transition: all .2s;
    margin: .1rem 0
}

.container-card-overlay {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.container-card {
    /* background: rgba(255, 255, 255, 0.1); */
    background: linear-gradient(127.09deg, rgb(31 40 95 / 94%) 19.41%, rgb(209 212 225 / 13%) 76.65%) border-box;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgb(0 0 0 / 24%);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.page-title-header {
    color: var(--text-color);
}

.dash-card {
    display: flex;
    flex-direction: column;
}

.mbti-card-res {
    width: 100%;
    height: 630px;
    max-width: 360px;
    box-shadow: 0 23px 67px rgb(0 0 0 / 70%);
    border-right: 4px solid rgba(255, 255, 255, 0.2);
    border-bottom: 4px solid rgba(255, 255, 255, 0.2);
}

.card-name-title {
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
}

.sub-title-header {
    color: #fff;
    text-align: center;
    position: relative;
}

.mbti-res-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.sub-pie-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sub-pie-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-card__header_title {
    font-size: 1.125rem;
    line-height: 1.625;
    font-weight: 700;
    color: var(--text-color);
}

.personality-dash-card {
    display: flex;
    width: 110px;
    padding: 20px 22px;
    flex-direction: column;
    opacity: 1;
    color: rgb(52, 71, 103);
    background: #060b287a;
    border-radius: 20px;
}

.mbti_card {
    width: 100%;
    max-width: 340px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.card_header {
    text-align: center;
    padding: 30px 10px 0;
    position: relative;
}

.card-text-body {
    margin: 0px;
    font-size: 1.125rem;
    line-height: 1.625;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.image_wrap img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.card_cover {
    background-image: url(../images/blue-sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 160px;
    position: absolute;
    left: 0;
    filter: blur(55px);
    transform: scale(1.35);
}

.card_main {
    padding: 0 20px 20px;
}

.svg-icon {
    width: 25px;
    margin-right: 8px;
}

svg.radial-progress {
    height: auto;
    max-width: 150px;
    padding: .25rem;
    transform: rotate(-90deg);
    width: 100%;
}

svg.radial-progress.low {
    height: auto;
    max-width: 95px;
    padding: .25rem;
    transform: rotate(-90deg);
    width: 100%;
}

svg.radial-progress circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129;
    /* Circumference */
    stroke-width: 5;
}

svg.radial-progress circle.incomplete {
    opacity: 0.25;
}

svg.radial-progress circle.complete {
    stroke-dasharray: 220;
    /* Circumference */
}

svg.radial-progress text {
    fill: #ffffff;
    font: 400 1em/1 'Oswald', sans-serif;
    text-anchor: middle;
}

svg.radial-progress circle {
    /* stroke: #fd6470; */
    stroke: url(#linear)
}

.vertical-nav-menu li a.mm-active, a.mm-active i {
    color: #343a40;
    /* background: #e0f3ff; */
    font-weight: bold;
    color: #4d8cff !important;

}

.menu-icon {
    text-align: center;
    width: 25px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -17px;
    font-size: 21px;
    transition: color 300ms;
}

table, tbody>tr>td {
    color: var(--theme-color) !important;
    font-size: 0.875rem;
    text-transform: capitalize;
    font-weight: 600;
}

.app-header .app-header__content .app-header-right {
    align-items: center;
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.table-th-header {
    width: auto;
    padding: 12px 24px 10px;
    font-size: 0.75rem;
    border-bottom: 0.0625rem solid rgb(135 145 162);
    opacity: 0.8;
    color: rgb(160, 174, 192);
    padding-left: 6px;
}

.icon-overlay-card {
    font-size: 20px;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    background: rgb(0, 30, 65);
    color: rgb(255, 255, 255);
    border-radius: 0.9375rem;
    box-shadow: rgba(20, 20, 20, 0.12) 0rem 0.25rem 0.375rem -0.0625rem, rgba(20, 20, 20, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
}

.dropdown-menu {
    z-index: 1000;
    display: none;
    float: left;
    padding: 0.65rem 0;
    font-size: .88rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 8px;
    top: 3.8rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, .03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, .03), 0 0.25rem 0.53125rem rgba(4, 9, 20, .05), 0 0.125rem 0.1875rem rgba(4, 9, 20, .03);
    margin: 0.125rem;
}

.dropdown-menu.show {
    display: block;
    min-width: 22rem;
    border-radius: 8px;
}

.dropdown-menu-header {
    color: #fff;
    margin-top: -0.65rem;
    margin-bottom: 0.65rem;
    position: relative;
    z-index: 6;
}

.dropdown-menu-header-inner {
    margin: -1px -1px 0;
    padding: 1.5rem 0.5rem;
    position: relative;
    background-color: #16aaff !important;
    border-radius: 8px 8px 0 0;
}

.widget-account-header {
    /* display: flex !important;
    flex-direction: column; */
    display: none !important;
    width: 20rem;
    display: block;
    top: 62px;
    right: 5px;
    position: absolute;
    border-radius: 12px;
    border: 0.0625rem solid rgba(226, 232, 240, 0.3);
    box-shadow: rgba(20, 20, 20, 0.15) 0rem 0.5rem 1.625rem -0.25rem, rgba(20, 20, 20, 0.06) 0rem 0.5rem 0.5625rem -0.3125rem;
    transition: opacity 285ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 190ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background: #fff;
}

.notification {
    cursor: pointer;
}

.notif-container {
    display: none !important;
    width: 20rem;
    display: block;
    top: 52px;
    position: absolute;
    background: linear-gradient(126.97deg, rgb(5, 21, 63) 28.26%, rgb(7, 37, 97) 91.2%);
    right: 7px;
    border-radius: 12px;
    border: 0.0625rem solid rgba(226, 232, 240, 0.3);
    box-shadow: rgba(20, 20, 20, 0.15) 0rem 0.5rem 1.625rem -0.25rem, rgba(20, 20, 20, 0.06) 0rem 0.5rem 0.5625rem -0.3125rem;
    transition: opacity 285ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 190ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff;
}

.notif-container.active, .widget-account-header.active {
    display: flex !important;
    flex-direction: column;
}

.notif-row:first-child {
    padding: 15px 20px;
}

.notif-row {
    display: block;
    padding: 8px 20px;
}

.notif-row:hover {
    background: #047bff38;
    border-radius: 12px;
    cursor: pointer;
}

.all-notif-overlay {
    padding: 15px 0;
    border-top: 0.1px solid #ffffff4d;
    text-align: center;
}

.anc-all-notif {
    color: #a4a4a4 !important;
}

.anc-all-notif:hover {
    color: #fff !important;
}

.menu-header-image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 8;
    opacity: .25;
    filter: grayscale(80%);
    background-size: cover;
    opacity: .2 !important;
    background: url(../images/city3.jpg);
    ;
}

.menu-header-content {
    text-align: center;
    position: relative;
    z-index: 10;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.welcome-board-container {
    width: 100%;
    max-width: 500px;
}

.welcome-board {
    display: flex;
    position: relative;
    gap: 20px;
    height: 340px;
    flex-direction: column;
    backdrop-filter: blur(120px);
    overflow-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
    background: url(../images/ocean.jpg) 50% center / cover border-box;
    background-position: 50% center;
    border-radius: 1.25rem;
    padding: 32px 22px;
    justify-content: space-between;
}

.greeting-msg {
    color: #c8dbf4;
    font-weight: 500;
}

.user-active {
    text-transform: capitalize;
    color: #fff;
    font-size: 1.875rem;
    font-weight: 700;
}

.greeting-sub-txt {
    color: #c8dbf4;
    font-weight: 500;
}

.user-sm-box {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
}

.app-card-row {
    display: flex;
    gap: 15px;
    align-items: center;
}

.main-pie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-main-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dash-card-subtitle {
    font-family: 'Plus Jakarta Display', Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    color: rgb(160, 174, 192);
    font-weight: 400;
    margin: 0px 0px 5px;
    text-decoration: none;
}

.ticket-title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
}

.empty-hypens {
    font-weight: 600;
    color: #fff;
}

.ticket-header-row {
    display: flex;
    width: calc(100% + 24px);
    gap: 20px;
    margin-bottom: 30px;
}

.nav-link {
    color: #46535f !important;
}

.app-page-title .page-title-icon svg {
    margin: auto;
    position: relative;
    left: 0;
    top: 0;
}

.task-card:hover {
    color: red !important;
}

.cc-priority {
    display: inline-block;
    width: 0.65rem;
    height: 0.65rem;
    margin-right: 8px;
    border-radius: 50%;
}

.user-tooltip {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    transition: all 200ms ease-in-out 0s;
    background: transparent;
    font-weight: 700;
    width: 1.85rem;
    height: 1.85rem;
    border: 0.15px solid rgb(18 18 65 / 46%);
    cursor: pointer;
    position: relative;
}

.user-tooltip:not(:first-of-type) {
    margin-left: -10px;
}

.user-tooltip:hover, .user-tooltip:focus {
    z-index: 10;
}

.user-img-container {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.user-img-sml {
    width: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
    height: auto;
}

.low-pr {
    background: rgb(155 150 255);
}

.medium-pr {
    background: rgb(0, 255, 145);
}

.high-pr {
    background: rgb(242, 255, 0);
}

.very-high-pr, .urgent-pr {
    background: rgb(255 0 0);
}

.urgent-pr~span {
    background: #d21717;
    padding: 4px;
    border-radius: 7px;
    font-size: 13px;
    margin-left: -4px;
}

.vertical-nav-menu li a:hover {
    background: #e0f3ff;
    text-decoration: none;
    color: #4d8cff !important;
    font-weight: 500;
}

.notification {
    position: relative;
}

.notification-number {
    position: absolute;
    background-color: #ed5757;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    right: -6px;
    top: -6px;
}

.notification svg {
    width: 22px;
    color: #f9fafb;
    flex-shrink: 0;
}

.tooltip>.tooltip-inner {
    background: var(--localnav-background-stuck, rgba(22, 22, 23, 0.664));
    backdrop-filter: saturate(180%) blur(20px);
    max-width: 350px;
    border-radius: 10px;
}

.bg-pill-open {
    background: rgb(0, 214, 255) !important;
}

.bg-pill-progress {
    background: rgb(219 0 255) !important;
}

.bg-pill-waiting {
    background: rgb(229 170 32) !important;
}

.bg-pill-done {
    background: rgb(118 220 26) !important;
}

.comment-form {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: border 0.3s linear 0s;
    background: transparent;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 1rem;
    ;
}

.comment-form:hover, .comment-form:active, .comment-form:focus-within {
    border: 1px solid rgb(132 143 179 / 74%);
    padding: 10px;
}

.dropdown-menu.show {
    animation: fade-in2 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both
}

.comment-form:focus {
    border: 1px solid #1e272e;
}

.form-caps {
    width: 100%;
    resize: none;
    background: transparent;
    color: #f4f4f4;
    border: none;
    font-size: 26px;
    letter-spacing: .25px;
    padding: 0;
}

.custom-form-select {
    background: transparent;
    outline: none;
    width: 100%;
    border-radius: 10px;
    border: none;
    z-index: 1;
    padding: 12px 15px;
    cursor: pointer;
    font-size: .88rem;
}

.form-input {
    background: transparent;
    outline: none;
    width: 100%;
    border: none;
    z-index: 1;
    padding: 12px 15px;
    cursor: text;
    font-size: .88rem;
}

.assigned-input {
    min-width: 200px;
    width: 100% !important;
    max-width: 483px;
    min-height: 40px;
    border-radius: 10px;
    background: #1c2028;
    color: #fff;
}

.assigned-input:not(:last-child) {
    margin-bottom: 10px;

}

.capsule-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    row-gap: 10px;
    column-gap: 12px;
}

.capsule-overlay {
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    background-color: #1c2028;
    padding: 0px 20px;
    font-weight: 500;
}

.capsule-text {
    color: #fff;
    font-size: .9rem;
    letter-spacing: 0.4px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: initial;
    padding: 5px 0;
}

.css-1bw07gz {
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.css-r6q3am {
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    position: relative;
    cursor: text;
    -webkit-box-align: center;
    pointer-events: auto;
    border-radius: 0.9375rem;
    border: 0.5px solid rgb(74, 85, 104);
    padding: 0.5rem 0.75rem;
    display: grid !important;
    place-items: center !important;
    width: 100% !important;
    height: auto !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.4 !important;
    background-clip: padding-box !important;
    appearance: none !important;
    transition: box-shadow 150ms ease 0s, border-color 150ms ease 0s, padding 150ms ease 0s !important;
    background-color: rgb(15, 21, 53) !important;
    color: rgb(255, 255, 255) !important;
}

.css-r6q3am:focus {
    border-color: rgba(226, 232, 240, 0.6);
    box-shadow: rgb(98, 143, 194) 0rem 0rem 0rem 0.125rem;
    outline: 0;
}

.progress-bar-base {
    display: block;
    z-index: 0;
    height: 0.1875rem;
    border-radius: 0.5rem;
    overflow: visible;
    position: relative;
    background: rgb(45, 46, 95);
}

/* .css-17451yp .MuiLinearProgress-bar {
    background: rgb(0, 117, 255);
    width: 0;
    color: rgb(160, 174, 192);
} */

.vivid-progress {
    width: 100%;
    left: 0px;
    bottom: 0px;
    top: 0px;
    background: linear-gradient(90deg, #ffff3a, rgb(0, 195, 255));
    height: 0.375rem;
    border-radius: 0.25rem;
    position: absolute;
    transition: all 0.6s ease-out !important;
}

.css-63xtou {
    margin-bottom: 8px;
    padding: 0 10px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.css-vz2i8e {
    width: 100%;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.txt-progress {
    font-size: 0.825rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.more-detail {
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 0.4px;
    color: #a8d3f8 !important;
}

.more-detail:hover {
    color: #fff !important;
    transition: transform 0.2s cubic-bezier(0.34, 1.61, 0.7, 1.3) 0s;
}

.more-detail:hover .fa-arrow-right {
    transform: translate(6px, 0.5px);
    transition: transform 0.4s cubic-bezier(0.34, 1.61, 0.7, 1.3) 0s;
}

.date-text {
    background: transparent !important;
    border: none !important;
    color: #fff !important;
}

.date-text::placeholder {
    color: #fff !important;
}

/* .form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: #626262;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */

/* .form-control {
    transition: all .2s;
} */

/* .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #626262;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: 0;
} */


.notifications {
    position: fixed;
    top: 70px;
    right: -10px;
}

.notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
}

.notifications .toast {
    width: 300px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
}

@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10%);
    }
}

.notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateX(-10%);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(calc(100% + 20px));
    }
}

.toast::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast.success::before, .btn#success {
    background: var(--success);
}

.toast.error::before, .btn#error {
    background: var(--error);
}

.toast.warning::before, .btn#warning {
    background: var(--warning);
}

.toast.info::before, .btn#info {
    background: var(--info);
}

.toast .column i {
    font-size: 1.75rem;
}

.toast.success .column i {
    color: var(--success);
}

.toast.error .column i {
    color: var(--error);
}

.toast.warning .column i {
    color: var(--warning);
}

.toast.info .column i {
    color: var(--info);
}

.toast .column span {
    font-size: 15px;
    margin-left: 12px;
}

.toast i:last-child {
    color: #aeb0d7;
    cursor: pointer;
}

.toast i:last-child:hover {
    color: var(--dark);
}

.buttons .btn {
    border: none;
    outline: none;
    color: var(--light);
    cursor: pointer;
    margin: 0 5px;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
}

@media screen and (max-width: 530px) {
    .notifications {
        width: 80%;
    }

    .notifications .toast {
        width: 100%;
        font-size: 1rem;
        margin-left: 20px;
    }

    .buttons .btn {
        margin: 0 1px;
        font-size: 1.1rem;
        padding: 8px 15px;
    }
}

#msform {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 30px;
    color: #fff;
}

#msform fieldset {
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
/* #msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
} */

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
.action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.action-button:hover, .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

.action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.action-button-previous:hover, .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    width: 70%;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 50%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #ee0979;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}

.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(50%);
}

.container {
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    display: block;
    min-width: 231.5px;
    width: 100% !important;
    max-width: 483px;
}

/* the code below is for the dropdown heading */
.setting-description {
    background-color: #1c2028;
    border-radius: 15px 15px 0px 0px;

    min-width: 231.5px;
    width: 100% !important;
    max-width: 483px;
}

h10 {
    font-size: 12px;
    margin-left: 5px !important;
    letter-spacing: 0.8px;
    font-family: Arial !important;
}

.setting-description-text {
    padding-top: 18px !important;
    color: #81828b;
    font-family: Gilroy-Regular !important;
}

/* the code below is for the dropdown menu */
.form-control-wrapper {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: inline-block;
    min-width: 200px;
    width: 100% !important;
    max-width: 483px;
    padding: 0;
    min-height: 40px;
    border-radius: 10px;
    background: #1c2028;
    color: #fff;
    cursor: pointer;
}


.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.arrow {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    rotate: 180deg;
}

/* .selected-display {
    margin-left: 20px;
} */

svg {
    transition: all 0.3s;
}

.form-control-wrapper::before {
    position: absolute;
    top: 50%;
    right: 16px;

    margin-top: -2px;

    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.app-header__logo {
    width: 280px;
    display: flex;
    padding: 0 1.5rem;
    height: 60px;
    display: flex;
    align-items: center;
    transition: width .2s;
}

.logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.app-header__logo .logo-src {
    height: 40px;
    width: 40px;
    background: url(../images/uowcapstone_logo1.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.logo-title {
    text-transform: uppercase;
    font-size: .8rem;
    margin: 0.75rem 0;
    font-weight: bold;
    color: #bccfff;
    white-space: nowrap;
    position: relative;
    letter-spacing: 1px;
}

.rotated {
    transform: rotate(-180deg);
}

.form-control-wrapper .dropdown {
    transition: 0.3s;

    position: absolute;
    top: 120%;
    right: 0;
    left: 0;

    margin: 0;
    padding: 0;

    list-style: none;

    z-index: 99;

    border-radius: 15px;
    box-shadow: inherit;
    background: inherit;

    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    opacity: 0;
    visibility: hidden;
}

.form-control-wrapper .dropdown li {
    padding: 0 15px;
    line-height: 45px;
    overflow: hidden;
}

.form-control-wrapper .dropdown li:last-child {
    border-bottom: none;
}

.dropdown {
    padding: 0.5rem !important;
}

.form-control-wrapper .dropdown li:hover {
    background-color: rgb(35, 40, 49);
    border-radius: 10px;
}

.form-control-wrapper.active .dropdown {
    opacity: 1;
    visibility: visible;

    border-radius: 15px;
}

.form-control-wrapper select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
}

.form-control-wrapper select::-ms-expand {
    display: none;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #daf6ff;
    text-shadow: 0 0 20px #01b6f2, 0 0 20px rgba(10, 175, 230, 0);
}

.clock {
    letter-spacing: 5px;
    font-size: 3rem;
}

.date {
    font-size: 1.25rem;
}

.add-user-container {
    text-align: right;
    color: #fff;
    font-size: 11px;
    letter-spacing: .3px;
    padding-top: 8px;
    cursor: pointer;
}

.add-user-container i {
    color: #9ffb9f;
}

.add-user-container:hover span {
    color: #d6d6d6;
}

.add-user-container:hover i {
    color: #76b776;
}

.select2-dropdown {
    background: #1c2028 !important;
    border-radius: 12px !important;
    border: none !important;
}

.select2-results {
    color: #fff;
}

.select2-container--default .select2-selection--multiple {
    background: transparent !important;
    border: none !important;
    padding: 4px 4px 10px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #c3c3c3 !important;
    border: 1px solid #c3c3c3 !important;
}

.select2-container--default .select2-results__option--selected {
    background: #374b71 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #d4e4f9 !important;
    color: #000 !important;
}

.select2-container--default .select2-selection--multiple {
    cursor: pointer !important;
}

.select2-container .select2-search--inline .select2-search__field {
    margin: 0 !important;
    padding: 1px 15px !important;
}

.select-input-category {
    background: transparent;
    outline: none;
    width: 100%;
    border: none;
    z-index: 1;
    padding: 12px 15px;
    cursor: pointer;
    font-size: .88rem;
}

.loading-spinner {
    width: 45px;
    height: 45px;
    position: relative;
    animation: loading-spinner 2.5s infinite linear both;
    margin: 40px auto 20px;
    z-index: 1;
}

.loading-spinner.active {
    cursor: not-allowed;
}

.loading-spinner-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: loading-spinner-dot 2.0s infinite ease-in-out both;
}

.loading-spinner-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #00bcd4;
    border-radius: 100%;
    animation: loading-spinner-dot-before 2.0s infinite ease-in-out both;
}

.loading-spinner-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.loading-spinner-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.loading-spinner-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.loading-spinner-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.loading-spinner-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.loading-spinner-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.loading-spinner-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.loading-spinner-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.loading-spinner-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.loading-spinner-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.loading-spinner-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.loading-spinner-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes loading-spinner {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-spinner-dot {
    80%, 100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-spinner-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%, 0% {
        transform: scale(1.0);
    }
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.upload-btn-overlay {
    width: 35px;
    height: 35px;
    background-color: #565b73;
    border-radius: 100%;
    -webkit-box-align: center;
    cursor: pointer;
    position: absolute;
}

.upload-btn {
    top: 30px;
    left: 45px;
}

.uploadfile {
    bottom: 0px;
    left: 0;
    top: 0px;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.upl-icon-pos-abs {
    position: absolute;
    top: 35px;
    left: 56px;
}