{% extends "capstone/layout.html" %}
{% load custom_filter %}


{% block body %}    

    {% include "capstone/dashboard/header.html" %}

    <div class="row" style="gap: 25px;">
        <div class="welcome-board-container">
            <div class="welcome-board">
                <div>
                    <div class="greeting-msg mb10"></div>
                    <div class="user-active mb10">{{ request.user.first_name }} {{ request.user.last_name }}</div>
                    <div class="greeting-sub-txt">Glad to see you again</div>
                </div>
                <div class="clock-container">
                    <div class="clock"></div>
                    <div class="date"></div>
                </div>
                
                
            </div>
        </div>
        
        {% if request.user.dept == 1 %}
        <div class="container-card dash-card">
            <div style="padding: 20px;">
                <div class="app-card__header_title mb30" style="text-align: center;">
                    Personalities
                </div>
                <div class="app-card__body card-outline">
                    <div class="app-card-row">
                        <div>
                            <div class="main-pie-container">
                                <svg class="radial-progress" data-percentage="{{ personalities.first.value }}" viewBox="0 0 80 80">
                                    <defs>
                                        <linearGradient id="linear" x1="10%" y1="90%" x2="0%" y2="10%">
                                            <stop offset="0%" stop-color="#3fffa2" />
                                            <stop offset="50%" stop-color="#ffdb3a" />
                                            <stop offset="100%" stop-color="#ff6363" />
                                        </linearGradient>
                                    </defs>
                                    <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                                    <circle class="complete" cx="40" cy="40" r="35"
                                        style="stroke-dashoffset: 147.3406954533613;"></circle>
                                    <text class="percentage count" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">{{ personalities.first.value }}</text>
                                </svg>
                                <h3 class="card-text-body">{{ personalities.first.mbti_type }}</h3>
                            </div>
                        </div>
                        <div class="app-main-card-container">
                            {% for res in personalities %}
                                {% if not forloop.first %}
                                <div class="personality-dash-card">
                                    <div class="dash-card-subtitle"> 
                                    {% if forloop.counter == 2%}
                                    Second
                                    {% else %}
                                    Third
                                    {% endif %}
                                </div>
                                <div class="card-text-body">{{ res.mbti_type }}</div>
                                <div class="card-text-body count">{{ res.value }}%</div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="app-card_footer mt20">
                    {% if personalities %}
                    <a href="{% url 'mbti_result' request.user.username %}" class="more-detail">
                        <span>See detail </span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'questionnaire' request.user.username %}" class="more-detail">
                        <span>Take the test now</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    
    
    {% include "capstone/dashboard/ticket.html" %}

{% endblock %}