{% load custom_filter %}

<div class="container-card dash-card mt20 mb50">
    <div style="padding: 20px;">
        <div class="app-card__header_title" style="margin-bottom: 2.25rem;">
            Projects
        </div>
        <div class="app-card__body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-th-header" scope="col" style="width:35%;">Task</th>
                        <th class="table-th-header" scope="col">Priority</th>
                        <th class="table-th-header" scope="col">Due Date</th>
                        <th class="table-th-header" scope="col">Assigned To</th>
                        <th class="table-th-header" scope="col">Status</th>
                        <th class="table-th-header" scope="col">Progress</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td>
                            <a class="ticket-title" href="{% url 'ticket_detail' ticket.id ticket.ticket_title_slug %}" data-toggle="tooltip" title="{{ticket.description}}">{{ ticket.ticket_title }}</a>
                        </td>
                        <td>
                            <i class="cc-priority {{ticket.priority|getPriority}}"></i>
                            <span>{{ ticket.priority|removeHypens }}</span>
                        </div>
                        </td>
                        <td>
                            {% if ticket.due_date %}
                                {{ ticket.due_date|date:"Y-m-d" }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <div class="user-img-container">
                                {% if ticket.assigned_to.all %}
                                    {% for user in ticket.assigned_to.all %}
                                    <div class="user-tooltip" data-toggle="tooltip" title="{{user.username}}">
                                        {% if user.img_profile %}
                                        <img class="rounded-circle user-img-sml" src="/static/{{user.img_profile}}" alt="">
                                        {% else %}
                                        <img class="rounded-circle user-img-sml" src="/static/images/user-icon.png" alt="">
                                        {% endif %}
                                    </div>
                                    {% endfor %}

                                {% else %}
                                <div class="empty-list">-</div>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <span class="badge rounded-pill {{ ticket.status|getCSSStatus }}">{{ ticket.status|getStatus }}</span>
                        </td>
                        <td>
                            <div class="dflex flex-col gap5">
                                <div class="txt-progress">{{ ticket.status|showProgress }}%</div>
                                <div class="progress-bar-base">
                                    <div class="vivid-progress" aria-valuenow="{{ ticket.status|showProgress }}" aria-valuemin="0" aria-valuemax="100">
                                        
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="app-card_footer">
            <a href="{% url 'ticket_list' 'all' %}" class="more-detail">
                <span>See all projects</span>
                <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.vivid-progress').css("width",
            function() {
                return $(this).attr("aria-valuenow") + "%";
            }
        )
    });
</script>
