{% extends 'capstone/layout.html' %}

{% block body %}
<div class="container-card dash-card mt20 mb50">
    <div style="padding: 20px;">
        <div class="app-card__header_title" style="margin-bottom: 2.25rem;">
            Notifications
        </div>
        <div class="app-card__body">
            {% for notif in notifications %}
            <a class="notif-row" href="{% url 'read_ticket' notif.ticket.id %}">
            <div class="dflex gap20" style="padding-bottom: 20px;">
                <div>
                    {% if notif.creator.img_profile %}
                    <img width="42" class="rounded-circle" src="/static/{{notif.creator.img_profile}}" alt="">
                    {% else %}
                    <img width="42" class="rounded-circle" src="/static/images/user-icon.png" alt="">
                    {% endif %}
                </div>
                
                    <div class="dflex" style="flex-direction: column; color: #fff">
                        <div class="mb10">
                            {% if not notif.is_read %}
                            <span style="color: #f9fd44;">Unread!</span>
                            {% endif %}
                            <span>New task has been created.</span>
                            <span>{{ notif.ticket.ticket_title }}</span>
                        </div>
                        <div class="dflex gap10">
                            <span><i class="fa-solid fa-clock"></i></span>
                            <span>{{notif.create_date|date:"Y-m-d h:m:s"}}</span>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}